<%- layout('layouts/main.ejs') %>

<h2>Login & singUp web</h2>
    <ul>
        <li><h5>NodeJS</h5></li>
        <li><h5>Express</h5></li>
        <li><h5>MongoDB</h5></li>
        <li><h5>Passport</h5></li>
        <li><h6>Bcrypt for password encryption</h6></li>
    </ul>