<%- layout('layouts/main.ejs') %>

<h1>Profile</h1>
<div class="row">
<div class="card card-body">
    <h5>Email: <%= user.email %></h5>
    <h5>Encrypted password: <%= user.password %></h5>
    <h5>_id: <%= user._id %></h5>
</div>
</div>